@{
    ViewData["Title"] = "Home Page";
}

<section class=" container2 intro">
    <h1>General safety</h1>
    <p>For information about DFDS' safety management and how participants take part of it, please look through the General Safety Instruction Document, and visit the sub pages.</p>
    <button class="firstbutton">Sub contractor</button>
    <button class="firstbutton">Handbrake alarm</button>
    <button class="firstbutton">Loading restraint</button>
</section>
<section class=" container2 slideshow-container">
    <section class="mySlides">
        <img src="~/images/truck.png" alt="truck">
    </section>
    <section class="mySlides">
        <img src="~/images/road.jpg" alt="road">
    </section>
    <section class="mySlides">
        <img src="~/images/sea.jpg" alt="sea">
    </section>
    <section class="mySlides">
        <img src="~/images/balloon.jpg" alt="balloon">
    </section>
    <section class="mySlides">
        <img src="~/images/barn.jpg" alt="barn">
    </section>
    <section class="mySlides">
        <img src="~/images/car.jpg" alt="car">
    </section>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</section>
<section class=" container2 download">
    <div>
        <h4>General safety</h4>
        <p>Instructions PDF download</p>
        <span>Download - File size: 35KB</span>
    </div>
    <div>
        <h4>House keeping principles pdf</h4>
        <p>Instructions PDF download</p>
        <span>Download - File size: 35KB</span>
    </div>
</section>
    </div>
<section class="graybox">
    <div class="grayboxcontainer">
        <img src="~/images/Image.png" alt="Image">
        <div class="text">
            <h2>General safety video</h2>
            <p>The Immingham terminal is strategically located on the UK’s East coast with easy access to main motorways and on-site rail connection. DFDS occupies over 700,000m2  of terminal land split into two distinct terminals; Dockside and Riverside..</p>
            <button class="secondbutton">Terminal activities</button>
        </div>
    </div>
</section>
<section class="container2">
    <article class="article1">
        <h2>SUB CONTRACTOR INFORMATION</h2>
        <p>DFDS Group is a chosen Logistics partner of TATA Steel. We are responsible for the safe movement of thousands of loads per year across Europe. It is essential that our Haulage partners share our commitment to quality & safety. We have published this handbook as a guide for you & your drivers to use when working on the DFDS- TATA contracts.</p>
        <p>Graham Hall<br>DFDS Logistics</p>
        <h3>Driver behaviour</h3>
        <p>Whilst collecting or delivering to TATA Steel sites we expect Drivers to behave in a professional & courteous manner.</p>
        <p>The driver should also familiarise themselves with the following local site rules & procedures including:</p>
        <ul>
            <li>Loading Restraint Guidelines</li>
            <li>Technical Information sheets</li>
            <li>Technical Advice </li>
        </ul>
        <p>If the driver has any doubts about site rules, he must in the first instance ring his DFDS Logistics Planner for advice or email <a href="mailto:tata@dfds.com"> tata@dfds.com</a></p>
    </article>
</section>
<section class="container2">
    <article class="article2">
        <h2>HANDBRAKE ALARM</h2>
        <p>Vehicles rolling away are unfortunately an all to common event in the haulage industry. Some events resolve in no injuries, while others end with tragic and fatal consequences. The common issue is the handbrake not applied. One of the best ways to manage, and prevent these events, is to install a handbrake alarm, which effectively prevents the driver from leaving his cab without applying the handbrake.</p>
        <p>Some of the minimum features:</p>
        <ul>
            <li>Operate when engine is on and off</li>
            <li>Sound if the handbrake is OFF and the driver door is opened</li>
            <li>Loud enough to be heard clearly and above other noises and alarms (90dB is recommended) </li>
            <li>Be audible outside the vehicle</li>
            <li>Only stop when the handbrake is re-applied</li>
        </ul>
    </article>
</section>
<section class="container2">
    <h2>Loading restraint guides & Technical information sheets</h2>
    <p>All information from Tatas substantial safety program.</p>
    <details open="open">
        <summary>Even more details open</summary>
        <p>Here are even more details about the details.</p>
    </details>
    <details>
        <summary>Even more details close</summary>
        <p>Here are even more details about the details.</p>
    </details>
</section>
<section class=" container2">
    <video controls class="videobar">
        <source src="~/video/car.mp4" type="video/mp4">
    </video>
</section>
<section class=" container2">
    @{
        Html.RenderPartial("~/Views/Feedbacks/Create.cshtml");
    }
</section>