@model DFDS.Models.Feedback

@{
    ViewData["Title"] = "Create";
}

    <h2>Feedback</h2>
    <hr />
    <form asp-action="Create" class="feedback">
        <div asp-validation-summary="ModelOnly" ></div>
        <fieldset class="username">
            <label asp-for="UserName">UserName</label>
            <input asp-for="UserName" />
            <span asp-validation-for="UserName"></span>
         </fieldset>
         <fieldset class="description">
             <label asp-for="Description">Description</label>
             <textarea asp-for="Description"></textarea>
             <span asp-validation-for="Description"></span>
         </fieldset>
         <button type="submit" value="Create" class="secondbutton">Create feedback</button>
     </form>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
